 @model IEnumerable<IT.Business.Models.BlogModel>

@{
    ViewData["Title"] = "Blog";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IT Consulting</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IT.Webapp.styles.css" asp-append-version="true" />
</head>
<div>
    <form asp-action="Index">
        <input type="text" name="search" class="form-control"/>
        <input type="submit" value="search" class="btn btn-primary" />
    </form>
</div>
<h1><img src="./images/top-5-trend.png" style="width:70%"></h1>



        @foreach (var item in Model) {
                <div class="container">
                     <div class="row align-items-start">
                         <div class="col">
                            <span class="text"><b>@Html.DisplayFor(modelItem => item.Name)</b></span>
                         </div>
                     </div>
                     <div class="row align-items-start">
                         <div class="col">
                            @Html.DisplayFor(modelItem => item.Description)
                         </div>
                     </div>
                </div>

             <div class="container">
                 <div class="row align-items-start">
                     <a asp-action="Create"><button type="button" style = "position:relative;
                                left:950px;background-color:blue;"
                               class="btn btn-primary "> Create New</button ></a>
                               
                   </div>
                   <br>
                     <div class="row align-items-start">
                         
                          <div class="alignment">
                          @Html.ActionLink("Edit", "Edit", new {  id=item.Id},
                                new { @class = "btn btn-primary" ,@style = "color:white;"})
                                @Html.ActionLink("Delete", "Delete", new {  id=item.Id}, 
                                new { @class = "btn btn-primary" ,@style = "color:white;"})
                           
                         </div>
                       
                     </div>
                </div>
    
        

       
         

               
}
    


